<!-- The following is included in the 'Look & Feel' >> 'Custom JS/CSS Code' box -->
<style>
#york-header,
#york-footer {
	margin: 0 auto
}
#york-header {
	background-color: #535e64;
	font-size: xx-large;
	padding: 0;
	font-family: Arial;
	color: #FFF
}
.header-child-left,
.header-child-right,
.footer-child-left,
.footer-child-right {
	display: inline-block;
	width: 50%
}
.header-child-right {
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
}
@media  (max-width: 400px) {
  #york-header div {    
    display: block;    
    text-align: center;    
    width: 100%;    
    padding: 0;
  }
}
#york-footer {
	background-color: #f5f5f5
}
.footer-child-right {
	text-align: right;
	vertical-align: top;
}
.fa-laptop:before {
	font-size: 140%;
	vertical-align: -4%;
}
#s-lib-bc {
	background-color: #a7b3ba;
	margin-top: -3px;
}
#s-lib-bc .breadcrumb {
	padding-left: 15px;
	border-bottom: 2px solid #8c1770;
	border-radius: 0px
}

#s-lib-bc .breadcrumb a {
	color: #353535;
}
#s-lg-guide-name {
	color: #8c1770;
	padding-left: 14px; border-bottom: 1px solid #8c1770;
}

#skillstitle{color:#8c1770;padding-left:14px; border-bottom:1px solid #8c1770;display:none;}

#s-lg-guide-header-info h1 {font-size: 32px}
#s-lg-guide-header-info {margin-top: -10px;background-color: #f1f1f1;padding-top:1px;}
#s-lg-tabs-container  {margin-top: -10px;}

.ui-widget-content a {color:#97217A;}

/* Skills sub-headings */
.skillsub{width:100%+20px;border-style: solid;border-width:1px 0px 1px 0px;border-color:#0083c3;padding:5px 10px 5px 10px;margin:10px -10px 10px -10px;font-weight:bold;background-color:#f1f1f1;}
.s-lg-tn-li img {border:1px solid #98a4ab;border-radius: 10px;margin-left:15px;}
.margin-right-sm, .pad-right-sm {margin-right:12px!important}
.s-lg-tn-li img:hover {  -webkit-filter: opacity(75%); transition: all .3s linear; } 

/* video resize */
.vidWrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
margin-top:20px;
margin-bottom: 20px;
	height: 0;
}
.vidWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Hide search box, etc */
#s-lg-guide-header-search,#s-lib-bc-page,#s-lg-guide-description,#s-lg-guide-header-subjects,.s-lg-guide-list-info {
	display: none
}
.s-lg-link-list,
.s-lg-link-list-2 {
	font-size: 110%;
	/* line-height: 133%; */
        line-height: 166%;
}
.s-lg-link-list { 
	list-style-type:none;
	margin-left:-20px
}
.s-lg-link-list li {
	background:#f1f1f1;
	margin:2px 2px 5px 2px;
	padding:10px;
	border:1px solid #d3d3d3;
	border-radius:10px 
}
.s-lg-link-list a {
	font-size:110%
	}
.s-lg-link-list .s-lg-icons li {
	border:none; 
	background:none
}
p {
	line-height: 133%;
}
a,
a:focus,
a:hover {
	color: #97217A;
	text-decoration: underline;
}
#s-lg-guide-tabs a {
	text-decoration: none;
}
/* Subject Guides home page list-of-guides styles follow */
.sghp {
	width: 100%
}
.sghp-column-left {
	float: left;
	width: 33%
}
.sghp-column-center {
	display: inline-block;
	width: 33%
}
.sghp-column-right {
	float: right;
	width: 33%
}
.sghp-cell {
	border-radius: 4px;
	box-shadow: none;
	border: 1px solid #E5E5E5;
	margin: 6px;
	
	font-weight: bold
}
.sghp-cell a {display:block;padding: 6px;background-color:#f1f1f1}
.sghp-cell a:hover {background-color: #97217A; color: #FFF}

/* .s-lg-label-moreinfo, .s-lg-label-more, .s-lg-database-desc, .s-lg-link-desc {display:inline!important} */
.s-lg-guide-body .s-lg-label-moreinfo, .s-lg-label-more {display:inline!important}

/* .s-lg-database-desc:before, .s-lg-link-desc:before { content: '\A'; white-space: pre-wrap} */
.s-lg-label-moreinfo:after { content: '\A'; white-space: pre-wrap}
.s-lg-guide-body .s-lg-database-desc {margin-top: 4px; display:inline-block!important}

.sger-info {padding-left: 3px}
/* Fix up nasty overhanging underline on links */
.eresourcesguide [id^="s-lg-content-"] > a {display: inline-block}

/* Differentiate style for Information icons on e-Resources guide */
.s-lg-database-moreinfo, .s-lg-content-moreinfo, .s-lg-content-more-info    {background-color: #f1f1f1;
    padding: 10px;
    border: orange 2px solid;
    border-radius: 8px;
margin-top: 5px}

/* Steph's hacks 7th Sept */
.btn-link, .btn-link:focus {color:#8c1770;}
.btn-link:hover  {color:#a42383;}
/* .btn-link:visited  {color:#8c1770;}
.btn-link:active  {color:#8c1770;} 
.btn-link:focus  {color:#8c1770;} */
.s-lg-label-more-info button {font-size:110%;margin-top:-2px;}
.s-lg-icon {display:none;}

/* Jim making the E-Resources Guide (& other pages) box & arrows into question marks 9th Sept  */
.s-lg-link-list .fa-external-link:before {
content: "\f059";
color: #8c1770;
font-size : 170%
}

/* Jim making the A-Z Quick links into question marks 9th Sept */
#s-lg-az-cols .s-lg-icon + .fa-external-link:before {
content: "\f059";
color: #8c1770;
font-size: 13.2px;
vertical-align: -16%
}
#s-lg-az-cols a > .fa-external-link:first-child {display:none}
.s-lg-az-result-title { display: inline-block; margin-right: 0 }

/* A-Z: Kill vendors dropdown and question marks*/
.york-a-z #col-vendors,.york-a-z .s-lg-az-result-badges > div {display: none}

/* A-Z: Kill experts box */
#s-lg-az-experts-div {display: none !important}

/* A-Z: Change Info icon to i + More button */
.york-a-z .sger-info {border: 2px solid; border-radius: 8px; padding: 3px; background-color:#FFF}
.york-a-z .sger-info:before {content: "\f05a\00a0More info"; font-size:120%;}

/* A-Z: Background colour of info boxes to white */
.york-a-z .s-lg-content-more-info {background-color: #FFF}

/* A-Z: Style individual database results */
.york-a-z .s-lg-az-result {
    background: #f1f1f1;
    margin: 10px 2px 10px 2px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

/* A-Z: Add a  top margin */
.york-a-z button.s-lg-label-more {
    margin-top: 10px;
}

/* A-Z: Kill the bottom space */
.york-a-z .s-lg-az-result-props {display: none}

/* A-Z: Kill the horrible button outline */
.york-a-z button.s-lg-label-more, #s-lg-az-index .btn-group>.btn-link {outline: none}

/* A-Z: Make sure visitors with JS turned off know that they need to turn it on */
.york-a-z noscript {font-size: 120%; color: red}

/* A-Z: Style the alphabet */
.york-a-z #s-lg-az-index {margin-bottom: 15px}
.york-a-z .btn-group {display: table;width: 100%;background-color: #97217A;border-radius: 6px; padding: 4px;}
.york-a-z #s-lg-az-index button {font-size:120%; color: #FFF;display: table-cell; min-width: 3.571428571428571%}
.york-a-z #s-lg-az-index button:hover {background-color: #FFF; color:  #97217A; border-radius: 4px}
.york-a-z .btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {margin-left:0}
.york-a-z #col2 .welcome {margin-top:10px; margin-bottom:30px}

/* A-Z: Increase font-size for E-resource titles */
#s-lg-az-results .s-lg-az-result-title, .s-lg-az-result-title {font-size: 17px;}

/* A-Z: Capitalise text of results count*/
#s-lg-az-result-count {text-transform:capitalize;}

/* A-Z: Hide the "SubjectGuides" list item from the breadcrumb trail */
.york-a-z #s-lib-bc-site {display:none}

/* A-Z: Unhide the last item in the breadcrumb trail */
.york-a-z #s-lib-bc-page {display:inline}

</style>